rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /deck/{doc} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == "IcaB6QA5frhOaMWRf80gqxYF8Er2";
    }
  }
}