.modal {
    position: absolute;
    z-index: 8;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
  background: white;
  display: inline-block;
  padding: 32px;
  box-shadow: 10px 9px 20px rgb(0 0 0 / 50%);
}

.close-modal-box {
    position: absolute;
    z-index: 9;
    right: 24px;
    top: 16px;
    display: inline-block;
}
.close-modal-btn {
    font-size: 24px;
    width: 32px;
    height: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.close-modal-btn {
  padding: 0;
  margin: 0;
  line-height: 0;
  background: transparent;
  border: none;
}

.cardmodal .img-box {
    width: 50%;
    font-size: 0;
}
.cardmodal img {
    width: 100%;
    min-width: 240px;
}

.cardmodal .grid {
    max-width: 900px;
    margin: 40px auto;
    max-height: 100vh;
    overflow: scroll;
}
.cardmodal .grid > section:last-of-type {
  padding-left: 40px;
  padding-right: 20px;
}

@media only screen and (min-width: 780px) {
    .cardmodal ul.two-col-ul {
        -moz-column-count: 2;
        -moz-column-gap: 32px;
        -webkit-column-count: 2;
        -webkit-column-gap: 32px;
        column-count: 2;
        column-gap: 32px;
    }
  }

  .cardmodal h1 {
    font-size: 32px;
    font-weight: 800;
  }
  .cardmodal h2 {
    font-size: 24px;
    margin-top: 4px;
    font-weight: 300;
  }
  .cardmodal h3 {
    margin-top: 10px;
    font-weight: 600;
  }
  .cardmodal p,
  .cardmodal ul {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
  }
  .cardmodal li {
    margin-top: 4px;
  }

  .card-info .header {
    margin-bottom: 42px;
  }
  .cardmodal .card-info .element {
    text-transform: uppercase;
    font-weight: 600;
  }

  .cardmodal #earth::after {
    content: ' 🌎';
  }
  .cardmodal #fire::after {
    content: '🔥';
  }
  .cardmodal #water::after {
    content: ' 💧';
  }
  .cardmodal #air::after {
    content: ' 🫧';
  }

