#nav-menu {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 8;
    transition: all 1s ease;
}
#hamburger-btn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.view-menu {
    width: 100%;
    max-width: 480px;
}

.hide-menu {
    width: 100%;
    max-width: 0;
}

#nav-menu a {
    display: block;
    min-width: 320px;
}