header {
    /* background: blue; */
    height: auto;
    display: grid;
    padding: 12px 40px;
    grid-template-columns: 1fr 600px 1fr;
}

header > section {
    display: flex;
    align-items: center;
    justify-content: center;
}
#deck-container {
    transition: all .3s ease;
}
