header {
    /* background: blue; */
    height: auto;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
}

header > section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.deck-container {
    transition: .3s ease;
}
.deck-container.hidden {
    max-height: 0;
}