header {
    height: auto;
    display: grid;
    padding: 12px 40px;
    overflow: scroll;
    grid-template-columns: auto auto auto;
    grid-template-areas: 'title shuffle buttons';
}
@media (max-width: 750px) {
    header {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'title' 'buttons' 'shuffle';
    }
}
header > section {
    display: flex;
    align-items: center;
}
header > section:first-of-type {
    grid-area: title;
    justify-content: left;
}
header > section:nth-of-type(2) {
    grid-area: shuffle;
    justify-content: center;
}
header > section:nth-of-type(3) {
    grid-area: buttons;
    justify-content: right;
}
.deck-container {
    transition: all .3s ease;
}

.reading-window {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}


.reading-window > section.text-section > div {
    padding: 20px;
}
.reading-window > section.text-section > div > div {
    padding-bottom: 20px;
}

@media (orientation: portrait) and (max-width: 1200px) {
    .reading-window {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
    }
}

.reading-window .reverse-hide {
    display: none;
}
.reading-window .upright-hide {
    display: none;
}
.reading-window .reverse.hide {
    display: none;
}
.reading-window .upright-hide.show {
    display: block;
}

.reading-window h1 {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}
.reading-window h3 {
    padding-bottom: 12px;
    font-size: 20px;
}
.reading-window h4 {
    padding-bottom: 8px;
    font-size: 16px;
}

.reading-window p,
.reading-window ul {
    font-size: 14px;
}
.reading-window p {
    padding-left: 25px;
    padding-bottom: 8px;
}

.reading-window ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    padding-inline-start: 25px;
}

.reading-window li {
    margin-right: 3px;
}

.reading-window .suit-text span {
    text-transform: capitalize;
}
