/***** Card Dimensions: 23/40 */
.card {
    --percentage: .5;
    height: calc(40vw * var(--percentage));
    width: calc(23vw * var(--percentage));
    display: inline-block;
    overflow: hidden;
    border-radius: calc(1vw * var(--percentage));
    box-shadow: .2vw .2vw .2vw rgba(0 0 0 / 25%);
    margin: calc(.5vw * var(--percentage));
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}