/***** Card Dimensions: 23/40 */
.card {
    --percentage: .5;
    height: calc(40vw * var(--percentage));
    width: calc(23vw * var(--percentage));
    display: inline-block;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}