:root {
    --percentage: .35;
    --hover-percentage: .5;
    --card-height: 320px;
    --card-width: 184px;
    --deck-count: 78;
}
#deck-container {
  max-height: calc(var(--card-height) * var(--hover-percentage));
}
.deck {
    max-width: 100vw;
    width: 100vw;
    overflow-x: scroll;
    position: relative;
    height: calc(var(--card-height) * var(--hover-percentage));
}
.cards {
    display: flex;
    align-items: center;
    max-width: calc(var(--deck-count) * 57px * var(--percentage));
    width: calc(var(--deck-count) * 57px * var(--percentage));
    height: calc(var(--card-height) * var(--hover-percentage));
}
 
  /***** Card Dimensions: 23/40 */
  .card {
    height: calc(var(--card-height) * var(--percentage));
    width: calc(var(--card-width) * var(--percentage));
    display: inline-block;
    overflow: hidden;
    border-radius: calc(9px * var(--percentage));
    box-shadow: calc(-5px * var(--percentage)) calc(5px * var(--percentage)) calc(5px * var(--percentage)) rgba(0 0 0 / 25%);
    margin: calc(10px * var(--percentage));
    position: relative;
    transition: .1s ease;
  }
  .card:hover {
    --percentage: var(--hover-percentage);
    z-index: 8;
    cursor: pointer;
  }
  
  .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .card img + img {
    position: absolute;
    z-index: 4;
    top: 0;
  }
  .card {
    transition: all 2s;
  }
  /* Hide the whole card */
  .stack-deck {
    margin-right: calc(-194px * var(--percentage));
    transition: all 2s;
  }
  /* Show some of the card */
  .splay-deck {
    margin-right: calc(-138px * var(--percentage));
    transition: all .4s ease;
  }

  @media only screen and (max-width: 900px) {
    .deal-deck, .splay-deck{
      transition: all 1.5s;
    }
  }
 