:root {
    --percentage: .345;
    --hover-percentage: calc(var(--percentage) * 1.1);
    --card-height: 300px;
    --card-width: 172px;
    --adjustment: 44px;
    --deck-count: 78;

    --test-num: 172px;
    --test-percent: .25;
    --test-calc: calc(var(--test-num) * var(--test-percent));
}

#index-deck {
  --percentage: .7;
}
#index-dec .cards {
  text-align: center;
}

#deal-deck {
  max-height: calc(var(--card-height) * var(--hover-percentage));
  max-width: 1200px;
  margin: 0 auto;
}
#deal-deck .deck {
    max-width: 100vw;
    width: 100vw;
    overflow-x: scroll;
    position: relative;
    height: calc(var(--card-height) * var(--hover-percentage));
}

#deal-deck .cards {
    display: flex;
    align-items: center;
    /* max-width: calc(var(--deck-count) * var(--test-calc) * var(--percentage));
    width: calc(var(--deck-count) * var(--test-calc) * var(--percentage)); */
    /* max-width: calc(var(--deck-count) * var(--adjustment) * var(--percentage));
    width: calc(var(--deck-count) * var(--adjustment) * var(--percentage)); */
    height: calc(var(--card-height) * var(--hover-percentage));
}
 
  /***** Card Dimensions: 23/40 */
  .card {
    height: calc(var(--card-height) * var(--percentage));
    width: calc(var(--card-width) * var(--percentage));
    display: inline-block;
    overflow: hidden;
    border-radius: calc(9px * var(--percentage));
    box-shadow: calc(-5px * var(--percentage)) calc(5px * var(--percentage)) calc(5px * var(--percentage)) rgba(0 0 0 / 12.5%);
    /* margin: calc(10px * var(--percentage)); */
    position: relative;
    transition: .1s ease;
  }
  #deal-deck .card:hover {
    --percentage: var(--hover-percentage);
    z-index: 8;
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: calc(-5px * var(--percentage)) calc(5px * var(--percentage)) calc(5px * var(--percentage)) rgba(0 0 0 / 50%);
  }

  .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #deal-deck .card img + img {
    position: absolute;
    z-index: 4;
    top: 0;
  }  
  .card {
    transition: all 2s;
  }
  /* Hide the whole card */
  #deal-deck .stack-deck {
    margin-right: calc(-1 * var(--card-width) * var(--percentage));
    transition: all 2s;
  }
  /* Show some of the card */
  #deal-deck .splay-deck {
    margin-right: calc(-129px * var(--percentage));
    transition: all .4s ease;
  }

  @media only screen and (max-width: 900px) {
    .deal-deck, .splay-deck{
      transition: all 1.5s;
    }
  }
 
  .toggle-reverse-btn {
    opacity: .5;
  }