.spread-section { display: grid;}
.spread-section > div:first-of-type { grid-area: one; }
.spread-section > div:nth-of-type(2) { grid-area: two; }
.spread-section > div:nth-of-type(3) { grid-area: three; }
.spread-section > div:nth-of-type(4) { grid-area: four; }
.spread-section > div:nth-of-type(5) { grid-area: five; }
.spread-section > div:nth-of-type(6) { grid-area: six; }
.spread-section > div:nth-of-type(7) { grid-area: seven; }
.spread-section > div:nth-of-type(8) { grid-area: eight; }
.spread-section > div:nth-of-type(9) { grid-area: nine; }
.spread-section > div:nth-of-type(10) { grid-area: ten; }
.spread-section > div:nth-of-type(11) { grid-area: eleven; }
.spread-section > div:nth-of-type(12) { grid-area: twelve; }
.spread-section > div:nth-of-type(13) { grid-area: thirteen; }

.spread-section img {width: 100%;}

/*-----------------------------------------------------> SINGLE CARD */
    .random-single-card > section,
    .single-card-draw > section {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: ' . one . ';
    }

/*-----------------------------------------------------> SIMPLE SPREADS */
    .spread-three-simple > section {
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: ' one two three ';
    }
    .spread-five-simple > section {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: ' one two three four five ';
    }

/*-----------------------------------------------------> HORSESHOE SPREAD */
    .spread-horseshoe > section {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr .5fr;
        grid-template-areas: 
            ' one . . . . . seven '
            ' . two three four five six . '
            ' . . . . . . . ';
    }
    .spread-horseshoe > section 
        img {
            max-width: 100%!important;
        }
        
    .spread-horseshoe > section > div:nth-of-type(2),
    .spread-horseshoe > section > div:nth-of-type(6) {
        transform: translateY(-50%);
    }
    .spread-horseshoe > section > div:nth-of-type(4) {
        transform: translateY(50%);
    }

/*-----------------------------------------------------> CROSS SPREAD */
    .spread-cross > section {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            ' . . two . . '
            ' . four one five . '
            ' . . three . . ';
            width: calc(126vh - 240px);
    }

    .spread-ten-celtic-cross > section {
        grid-template-columns: 3fr 3fr 3fr 1fr 3fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            ' . three . . ten '
            ' five one six . nine '
            ' . four . . eight '
            ' . two . . seven ';
            max-width: 450px;
            margin-bottom: -10%;
    }

/*-----------------------------------------------------> CELTIC CROSS SPREADS */
    .spread-thirteen-celtic-cross > section {
        grid-template-columns: 3fr 3fr 3fr 1fr 3fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            ' eleven twelve thirteen . ten '
            ' . three . . nine '
            ' five one six . eight '
            ' . four . . seven '
            ' . two . . . ';
        margin-bottom: -20%;
        width: calc(100vh - 240px);
    }
    @media only screen and (max-width: 640px) {
        .spread-thirteen-celtic-cross > section {
            margin-top: 0px;
        }
    }
    .spread-ten-celtic-cross > section > div:nth-of-type(2),
    .spread-thirteen-celtic-cross > section > div:nth-of-type(2) {
        position: absolute;
        top: -200%;
        width: 100%;
        transform: rotate(90deg);
    }

    .spread-ten-celtic-cross > section > div:nth-of-type(7),
    .spread-ten-celtic-cross > section > div:nth-of-type(8),
    .spread-ten-celtic-cross > section > div:nth-of-type(9),
    .spread-ten-celtic-cross > section > div:nth-of-type(10),
    .spread-thirteen-celtic-cross > section > div:nth-of-type(7),
    .spread-thirteen-celtic-cross > section > div:nth-of-type(8),
    .spread-thirteen-celtic-cross > section > div:nth-of-type(9),
    .spread-thirteen-celtic-cross > section > div:nth-of-type(10) {
        width: 90%;
    }
    .spread-thirteen-celtic-cross > section > div:nth-of-type(11),
    .spread-thirteen-celtic-cross > section > div:nth-of-type(12),
    .spread-thirteen-celtic-cross > section > div:nth-of-type(13) {
        width: 80%!important;
        margin-top: 20%;
    }

    .spread-ten-celtic-cross > section > div:nth-of-type(7) {
        transform: translateY(0);
    }
    .spread-ten-celtic-cross > section > div:nth-of-type(8) {
        transform: translateY(-8%);
    }
    .spread-ten-celtic-cross > section > div:nth-of-type(9) {
        transform: translateY(-16%);
    }
    .spread-ten-celtic-cross > section > div:nth-of-type(10) {
        transform: translateY(-24%);
    }

    .spread-thirteen-celtic-cross > section > div:nth-of-type(7) {
        transform: translateY(16%);
    }   
    .spread-thirteen-celtic-cross > section > div:nth-of-type(8) {
        transform: translateY(8%);
    }
    .spread-thirteen-celtic-cross > section > div:nth-of-type(9) {
        transform: translateY(0%);
    }
    .spread-thirteen-celtic-cross > section > div:nth-of-type(10) {
        transform: translateY(-8%);
    }

    .spread-thirteen-celtic-cross > section > div:nth-of-type(12) {
        transform: translateX(-24%);
    }
    .spread-thirteen-celtic-cross > section > div:nth-of-type(13) {
        transform: translateX(-48%);
    }