.dailycard.wrapper {
  width: 100%;
  margin: 0 auto;
  height: calc(100dvh - 60px);
  position: relative;
}
.dailycard .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
}

@media (min-width: 640px){
  .dailycard .title {
    padding-top: 1.5rem;
  }
}


.dailycard .background-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}



.grid {
  max-width: 900px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 450px;
}
.grid > section {
  display: flex;
  height: 100%;
}
.dailycard .grid {
  margin: 80px auto;
}
/* .dailycard .grid > section {  } */
.dailycard .grid > section:first-of-type {
  align-items: center;
}
.dailycard .grid > section:last-of-type {
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: calc(100% * 4/45);
}

.dailycard .grid > section p {
  padding: 0 10%;
}
@media (min-width: 640px){
  .dailycard .grid > section:first-of-type {
    justify-content: flex-end;
    padding-right: calc(100% * 4/45);
  }
}
@media (max-width: 639px){
  .dailycard .grid {
    margin: 80px auto;
    grid-template-columns: 1fr;
    height: auto;
  }
  .dailycard .grid > section:first-of-type {
    justify-content: center;
  }
}


.dailycard-mobile-content {
  width: 80vw;
  padding: 80px 10vw;
}

.dailycard-mobile-content p {
padding-left: 5vw;
}









/* .dailycard {
    width: 100%;
}

.dailycard-container {
  max-width: 1000px;
  margin: 40px auto;
}

.dailycard-container > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dailycard-container > div:last-of-type {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dailycard-container ul {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  padding-inline-start: 25px;
}
 */