.dailycard.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.dailycard img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* .dailycard {
    width: 100%;
}

.dailycard-container {
  max-width: 1000px;
  margin: 40px auto;
}

.dailycard-container > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dailycard-container > div:last-of-type {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dailycard-container ul {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  padding-inline-start: 25px;
}
 */