ul.menulist {
    text-transform: capitalize;
    list-style-type: none;
    padding: 0;
}
.menulist:hover {
    cursor: pointer;
}
.menulist .active {
    /* text-decoration: underline; */
    background-color: var(--color-darkgrey);
    color: white;
}
