body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-darkgrey: #3f3f3f;
  --color-lightgrey: #dadada;
}

/*********> global overrides */
* {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 100%;
}



button,
input,
select,
.btn {
  border: 1px solid var(--color-darkgrey);
  background: transparent;
  padding: 12px;
  font-size: 16px;
  color: var(--color-darkgrey);
  text-transform: uppercase;
}

button,
input[type=select],
input[type=option],
select,
.btn {
cursor: pointer;
}
@media only screen and (max-width: 749px){
  select {
    padding: 2px;
  }
}

input[type=text],
input[type=password],
input[type=number] {
  cursor: text;
}

button,
.btn {
  padding: 12px 36px;
  border-radius: 100px;
}
a.btn {
  text-decoration: none;
}
.dark-style {
  background-color: var(--color-darkgrey);
  color: #fff;
}

.small.btn {
  font-size: 10px;
  padding: 4px 12px;
  margin: 4px;
}
button.invisible-btn,
.btn.invisible-btn {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
}

header {
  height: 46px;
  padding: 6px 40px;
  border-bottom: 1px solid hsla(0, 0%, 83%, 0.4);
}
@media (max-width: 749px) {
  header {
    height: auto;
    padding: 16px 16px 10px;
  }
}




.icons {
  margin: 0;
  font-family: arial unicode ms,lucida sans unicode,sans-serif;
}
.icons > span {
  font-size: 24px;
  line-height: 0;
  color: var(--color-darkgrey);
}


.mobile-only {
  display: none;
}
.deskop-only {
  display: block;
}
@media only screen and (max-width: 749px){
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}



h1.title {
  text-align: center;
  padding: 20px 0;
  color: var(--color-darkgrey);
}


.signout-home {
  position: absolute;
  z-index: 3;
}

.error {
  color: red;
}

#index-deck {
    max-width: 1000px;
    margin: 0 auto;
}
.body-width {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
font-size: 24px;
}
h4 {
  font-size: 18px;
  /* font-weight: 100; */
}
@media only screen and (max-width: 749px){
  h1 {
    font-size: clamp(32px, 12vw, 48px);
  }
  h2 {
    font-size: clamp(24px, 9vw, 36px);
  }
  h3 {
    font-size: clamp(19px, 6vw, 24px);
  }
  h4 {
    font-size: clamp(14px, 4vw, 18px);
  }
}


/* GRID GLOBAL STYLES */
.grid {
  display: grid;
}

.two-column-grid.fifty-fifty { grid-template-columns: 1fr 1fr; }
.two-column-grid.sixty-forty { grid-template-columns: 60% 40%; }
.two-column-grid.forty-sixty { grid-template-columns: 40% 60%; }

.spread-section.show-reverse-onclick img {
  transform: rotate(0deg)!important;
}
@media only screen and (max-width: 740px){
  .two-column-grid.fifty-fifty,
  .two-column-grid.sixty-forty,
  .two-column-grid.forty-sixty {
    grid-template-columns:100%;
    grid-template-rows: auto;
    height: auto;
    max-height: inherit!important;
  }
}