@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
:root {
  /* ...color: var(--color-hex-... ); */
  --color-hex-wine: #490821;
  --color-hex-burgundy: #1f000c;
  --color-hex-black: #110C0E;
  --color-hex-darkgrey: #1F1E1F;
  --color-hex-grey: #403F40;
  --color-hex-lightgrey: #E1E0E0;
  --color-hex-white: #F6F5F4;
  --color-hex-lightgold: #E4C190;
  --color-hex-darkgold: #BF945D;

  /* ...color: hsla(var(--color-hsl-... ), 1)); */
  --color-hsl-wine: 337, 80%, 16%;
  --color-hsl-burgundy: 337, 100%, 6%;
  --color-hsl-black: 336, 17%, 6%;
  --color-hsl-darkgrey: 300, 2%, 12%;
  --color-hsl-grey: 300, 1%, 25%;
  --color-hsl-lightgrey: 0, 2%, 88%;
  --color-hsl-white: 30, 10%, 96%;
  --color-hsl-lightgold: 35, 61%, 73%;
  --color-hsl-darkgold: 34, 43%, 56%;

  --font-header: 'Julius Sans One', sans-serif;
  --font-fancy: 'Reenie Beanie', cursive;
  --font-type: 'Special Elite', courier;
}

:root {
  --color-prime-light: var(var(--color-hex-lightgold));
  --color-prime-dark: var(var(--color-hex-darkgold));
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* font-family: var(--font-fancy); */
  color: var(--color-hex-black);
  background-color: var(--color-hex-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/*********> global overrides */
* {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a .cta {
  padding-top: 2rem;
  border-bottom: 1px solid var(--color-hex-darkgold);
  display: inline-block;
  color: var(--color-hex-darkgold);
}
#nav-menu a {
  color: var(--color-hex-black);
}
button,
input,
select,
.btn {
  border: 1px solid var(--color-darkgrey);
  background: transparent;
  padding: 6px;
  font-size: 16px;
  color: var(--color-darkgrey);
  text-transform: uppercase;
}

button,
input[type=select],
input[type=option],
select,
.btn {
cursor: pointer;
}
@media only screen and (max-width: 639px){
  select {
    padding: 2px;
  }
}

input[type=text],
input[type=password],
input[type=number] {
  cursor: text;
}

button,
.btn {
  padding: 6px 36px;
  border-radius: 100px;
}
a.btn {
  text-decoration: none;
}
.dark-style {
  background-color: var(--color-darkgrey);
  color: #fff;
}

/* .small.btn {
  font-size: 10px;
  padding: 4px 12px;
  margin: 4px;
}
button.invisible-btn,
.btn.invisible-btn {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
} */
.icons {
  margin: 0;
  font-family: arial unicode ms,lucida sans unicode,sans-serif;
}
.icons > span {
  font-size: 24px;
  line-height: 0;
  color: var(--color-hex-darkgold);
}

@media only screen and (min-width: 640px){
  .mobile-only {
    display: none!important;
  }
  .deskop-only {
    display: block!important;
  }
}
@media only screen and (max-width: 639px){
  .mobile-only {
    display: block!important;
  }
  .desktop-only {
    display: none!important;
  }
}


h1, h2, h3, h4, a {
  font-family: var(--font-header);
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
  font-weight: 500;
}
p, a {
  font-size: 18px;
}
p {
  line-height: 180%;
}
p + p {
  margin-top: 1rem;
}

h1.title {
  text-align: center;
  padding: 20px 0;
  color: var(--color-darkgrey);
}

.subtitle {
  margin-top: .5em;
  margin-bottom: 2rem;
}

a {
  color: var(--color-darkgrey);
  cursor: pointer;
}

.error {
  color: red;
}

.fancy {
  font-family: var(--font-fancy);
  font-size: 160%;
}
.type {
  font-family: var(--font-type);
}
@media only screen and (max-width: 639px){
  h1 {
    font-size: clamp(32px, 12vw, 48px);
  }
  h2 {
    font-size: clamp(24px, 9vw, 36px);
  }
  h3 {
    font-size: clamp(19px, 6vw, 24px);
  }
  h4 {
    font-size: clamp(16px, 5vw, 21px);
  }
  h5 {
    font-size: clamp(14px, 4vw, 18px);
  }
}



/* active cursor pointer */
.live {
  cursor: pointer;
}




#index-deck {
  max-width: 1000px;
  margin: 0 auto;
}
.body-width {
  max-width: 900px;
  margin: 0 auto;
}


.signout-home {
  position: absolute;
  z-index: 3;
}

.dark-pallet {
  background-color: var(--color-hex-black);
}
.dark-pallet * {
  color: var(--color-hex-lightgold);
}



