body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-darkgrey: #2e2e2e;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
}

.signout-home {
  position: absolute;
  z-index: 3;
}

.error {
  color: red;
}

.grid {
  display: grid;
}

.two-column-grid.fifty-fifty { grid-template-columns: 1fr 1fr; }
.two-column-grid.sixty-forty { grid-template-columns: 60% 40%; }
.two-column-grid.forty-sixty { grid-template-columns: 40% 60%; }