#nav-menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 8;
    transition: all 1s ease;
    background-color: #fff;
    height: 100%;
}

#ham-menu {
    width: 100%;
    max-width: 480px;
    overflow: hidden;

    transform: translate(0%, 0%);
    opacity: 1;
    transition: all 1s ease;
}

#ham-menu.hide-menu {
    /* width: 100%; */
    /* max-width: 0; */
    /* max-height: 0; */

    transform: translate(100%, -0%);
    opacity: 0;
    transition: transform .3 ease;
}

#nav-menu a,
 #nav-menu button {
    display: block;
    padding: 0;
    line-height: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    border: none;
    background: transparent;
    text-decoration: none;
}

#nav-menu a {
    display: block;
    min-width: 320px;
    /* font-size: 18px; */
    margin-bottom: 20px;
}
#nav-menu a.active{
    text-decoration: underline;
}
#nav-menu > div {
    width: 100%;
    padding: 120px 60px;
}

/* #ham-menu.view-menu {
    width: 100%;
    max-width: 480px;
    position: absolute;
    top: 0;
    background: white;
    height: 207px;
    min-height: 300px;
    width: 200px;
    z-index: 6;
    padding: 80px;
}

#ham-menu.view-menu button {
    display: block;
} */